body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.form-container {
  border-radius: 15px;
  width: 600px;
  height: 900px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: 1000ms;
}
.form-container:hover {
  transition: 700ms;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.form input {
  margin: 10px;
  border: 2px solid blueviolet;
  color: rgb(27, 15, 201);
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  margin-left: 100px;
  margin-top: -25px;
  display: flex;
}

.form input[type="number"] {
  width: 215px;
}

.form label {
  color: blueviolet;
}

.form label:hover {
  color: black;
  transition: 700ms ease-in-out;
  cursor: pointer;
}

pre {
  border: 3px dotted blueviolet;
  margin-left: 40rem;
  margin-top: -865px;
  width: 200px;
  height: 400px;
  background-color: rgb(117, 117, 117);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 100px;
}

button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: blueviolet;
  color: beige;
}

.form-control {
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-left: 100px;
}
